@font-face {
  font-family: 'Druk Wide Super';
  font-weight: 700;
  src: url('DrukTextWide-Super.eot'); 
  src:
    url('DrukTextWide-Super.eot') format('embedded-opentype'),
    url('DrukTextWide-Super.woff2') format('woff2'), 
    url('DrukTextWide-Super.woff') format('woff'),
    url('DrukTextWide-Super.ttf') format('truetype'),
    url('DrukTextWide-Super.svg') format('svg');
}

@font-face {
  font-family: 'OriyaMN';
  font-weight: 300;
  font-style: normal;
  src: url('OriyaMN.eot');
  src: 
    url('OriyaMN.eot') format('embedded-opentype'),
    url('OriyaMN.woff2') format('woff2'),
    url('OriyaMN.woff') format('woff'),
    url('OriyaMN.ttf') format('truetype'),
    url('OriyaMN.svg') format('svg');
}

@font-face {
  font-family: 'Vanitas-BlackItalic';
  font-weight: 300;
  font-style: italic;
  src: url('Vanitas-BlackItalic.eot') format('embedded-opentype');
  src:
    url('Vanitas-BlackItalic.eot') format('embedded-opentype'),
    url('Vanitas-BlackItalic.woff2') format('woff2'),
    url('Vanitas-BlackItalic.woff') format('woff'),
    url('Vanitas-BlackItalic.ttf') format('truetype'),
    url('Vanitas-BlackItalic.svg') format('svg');
}
