@font-face {
  font-family: 'OriyaMN-Bold';
  src: url('OriyaMN-Bold.eot');
  src: url('OriyaMN-Bold.eot?#iefix') format('embedded-opentype'),
       url('OriyaMN-Bold.svg#OriyaMN-Bold') format('svg'),
       url('OriyaMN-Bold.ttf') format('truetype'),
       url('OriyaMN-Bold.woff') format('woff'),
       url('OriyaMN-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OriyaMN';
  src: url('OriyaMN.eot');
  src: url('OriyaMN.eot?#iefix') format('embedded-opentype'),
       url('OriyaMN.svg#OriyaMN') format('svg'),
       url('OriyaMN.ttf') format('truetype'),
       url('OriyaMN.woff') format('woff'),
       url('OriyaMN.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

