@font-face {
  font-family: 'Druk Wide Web Super';
  src: url('//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.eot');
  src: url('//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.svg#Druk Wide Web Super')
      format('svg');
}
$font-family: 'Helvetica Neue LT', Helvetica, Arial, sans-serif;

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-family: 'Druk Wide Web Super';
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h1,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.heading {
  color: green;
}

.title {
  color: purple;
}

p {
  margin-top: 0;
  line-height: 1.8;
}

body {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: inherit;
}
