@import './breakpoints';

$font-family: 'OriyaMN', 'Helvetica Neue LT', Helvetica, Arial, sans-serif;

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

h1, .h1 {
  line-height: 0.9em;
  font-size: 120px;

  @include phone-only {
    font-size: 44px;
  }

  @include xs-phone-only {
    font-size: 38px;
  }
}

.h1 {
  line-height: 1em;
}

h2, .h2 {
  font-size: 56px;

  @include phone-only {
    font-size: 36px;
  }

  @include xs-phone-only {
    font-size: 29px;
  }

  &.subtitle {
    font-family: 'Druk Wide Super';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -1px;

    @include phone-only {
      font-size: 12px;
    }
  }
}

h3, .h3 {
  font-size: 48px;

  @include phone-only {
    font-size: 34px;
  }

  @include xs-phone-only {
    font-size: 28px;
  }
}

h4, .h4 {
  font-size: 36px;

  @include phone-only {
    font-size: 32px;
  }

  @include xs-phone-only {
    font-size: 27px;
  }
}

h5, .h5 {
  font-size: 18px;
  opacity: 0.85;

  @include phone-only {
    font-size: 14px;
  }

  &.subtitle {
    font-size: 14px;
    font-family: 'Druk Wide Super';
    font-weight: 700;
    letter-spacing: -1px;
    opacity: 1;

    @include phone-only {
      font-size: 12px;
    }
  }
}

h6 {
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.85;

  @include phone-only {
    font-size: 14px;
  }
}

p {
  font-size: 16px;
  margin-top: 0;
  line-height: 1.8;
  opacity: 0.85;

  @include phone-only {
    font-size: 14px;
    line-height: 1.5em;
  }
}

.no-mb {
  margin-bottom: 0 !important;
}

.no-mt {
  margin-top: 0 !important;
}

.heading {
  opacity: 1;
}

.lower-case {
  text-transform: none;
}

.text-lighter {
  opacity: 0.75;
}

.italic {
  font-family: 'Vanitas-BlackItalic';
  font-style: italic;
}

body {
  font-size: 16px;
  font-family: 'OriyaMN';
}

a {
  color: inherit;
  text-decoration: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
