@font-face {font-family: "Druk Wide Bold"; src: url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot"); src: url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff") format("woff"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.svg#Druk Wide Bold") format("svg"); }

@font-face {
  font-family: 'OriyaMN';
  font-weight: 400;
  font-style: normal;
  src: url('/OriyaMN.woff2') format('woff2'), url('/OriyaMN.woff') format('woff')
}

@font-face {
  font-family: 'OriyaMN';
  font-weight: 700;
  font-style: normal;
  src: url('/OriyaMN-Bold.woff2') format('woff2'), url('/OriyaMN-Bold.woff') format('woff')
}

  // @font-face {
  //   font-family: Rubik;
  //   font-weight: 400;
  //   font-style: normal;
  //   src: url("Rubik.woff2") format("woff2"), url("Rubik.woff") format("woff");
  //   font-display: swap;
  // }
  // @font-face {
  //   font-family: Rubik;
  //   font-weight: 400;
  //   font-style: italic;
  //   src: url("Rubik-Italic.woff2") format("woff2"), url("Rubik-Italic.woff")
  //       format("woff");
  //   font-display: swap;
  // }
  // @font-face {
  //   font-family: Rubik;
  //   font-weight: 700;
  //   font-style: normal;
  //   src: url("Rubik-Bold.woff2") format("woff2"), url("Rubik-Bold.woff") format("woff");
  //   font-display: swap;
  // }
// }

$font-family: 'OriyaMN', 'Helvetica Neue LT', Helvetica, Arial, sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h1,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

h1, .h1 {
  font-size: 64px;
}

h2, .h2 {
  font-size: 42px;
}

h3, .h3 {
  font-size: 36px;
}

h4, .h4 {
  font-size: 30px;
}

h5, .h5 {
  font-size: 22px;
}

.heading {
  color: green;
}

.title {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.pre-title {
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: 'Druk Wide Bold';
}

.content--sanity {
  strong {
    text-transform: uppercase;
    margin-bottom: -16px;
    display: inherit;
    font-family: 'Druk Wide Bold';
  }

  p {
    font-weight: 300;
    opacity: 0.9;
  }
}

.text-lighter {
  opacity: 0.9;
  font-weight: 300;
}

p {
  margin-top: 0;
  line-height: 1.8;
}

body {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: inherit;
}
