@import './variables';
@import './typography';
@import './breakpoints';

body {
  color: $color-main;
  background-color: #000;
  margin: 0;
  font-family: $font-family;
  text-align: center;
  height: 100%;
  overflow: auto;

  * {
    box-sizing: border-box;
    outline: 0;
  }
}

body {
  .shopify-buy-frame--toggle.is-sticky {
    top: 15px;
    transform: none;
  }
}
