@import './variables';
@import './resets';
@import './structure';
@import './typography';
@import './breakpoints';
@import './animations';

body {
  color: $color-main;
  background-color: #000;
  margin: 0;
  font-family: $font-family;
  text-align: center;
  * {
    box-sizing: border-box;
  }
}

.play-circle, 
.play-triangle {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: dash 1s linear forwards;
}

.play-triangle {
  animation: dash 2s linear forwards;
  animation-delay: 0.75s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/*
                                    ,,,,,,
                                 o#'9MMHb':'-,o,
                              .oH":HH$' "' ' -*R&o,
                             dMMM*""'`'      .oM"HM?.
                           ,MMM'          "HLbd< ?&H\
                          .:MH ."\          ` MM  MM&b
                         . "*H    -        &MMMMMMMMMH:
                         .    dboo        MMMMMMMMMMMM.
                         .   dMMMMMMb      *MMMMMMMMMP.
                         .    MMMMMMMP        *MMMMMP .
                              `#MMMMM           MM6P ,
                          '    `MMMP"           HM*`,
                           '    :MM             .- ,
                            '.   `#?..  .       ..'
                               -.   .         .-
                                 ''-.oo,oo.-''
*/